$skalowanie: 0.5;

.flashcard {
    // sizing
    width: 21rem * $skalowanie;
    height: 37rem * $skalowanie;
    padding: 1rem;

    // content layout
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    // look & feel
    border-radius: 1.488px;
    box-shadow: 1px 1px 7px black;
    background-color: mix(papayawhip, white, 25%);

    // interaction
    cursor: pointer;
}

.flip-animation {
    animation-name: flip;
    animation-direction: alternate;
    animation-duration: 500ms;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}

@keyframes flip {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(90deg) }
}
