@use 'flashcard';
@use 'flashcard-row';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: papayawhip;
    font-family: sans-serif;
    line-height: 1.2137;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
